<!DOCTYPE html>
{% extends 'todo/base.html' %}
{% block body_block %}
<style media="screen">

    tr{
      border:2px solid orange;
      }
</style>
<h1>To Do Tasks Information:</h1><hr>
{% if todo_list %}


<table border='3'>
<thead>
  <th>Todo Task Name</th>
  <th>Details</th>
  <th>Update</th>
  <th>Delete</th>

</thead>
{% for todo in todo_list %}
<tr>
  <td>{{todo.title|title}}</td>
  <td><a href='/{{todo.id}}'>Details</a></td>
  <td><a href='/update/{{todo.id}}'>Update</a></td>
  <td><a href='/delete/{{todo.id}}'>Delete</a></td>

</tr>
{%endfor%}
</table>

{%else%}
<p>No todo tasks found</p>
{%endif%}<br><br><br>

<a href="/create" class='btn btn-primary btn-lg'>Do you want to insert New Task</a>


{% endblock %}
